aniso8601==0.92
beautifulsoup4==4.3.2
facebook-sdk==0.4.0
Flask==0.10.1
Flask-RESTful==0.3.1
gevent==1.0.1
googlemaps==2.2
greenlet==0.4.5
httplib2==0.9
itsdangerous==0.24
Jinja2==2.7.3
lxml==3.4.2
MarkupSafe==0.23
oauth2==1.0.0
pymongo==2.8
python-dateutil==2.4.1
pytz==2014.10
requests==2.5.3
six==1.9.0
Werkzeug==0.10.1
